
{{define "body"}}
<section class="ftco-section" id="notifications">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <h2 class="heading-section mb-4">Proof Information</h2>
                    </div>
                </div>
            </div>
        </div>
  </section>

<section class="ftco-section pb-0">
        <div class="container" style="align-content:center">
            <img src="data:image/jpeg;base64,{{.image}}" />
            <p>{{.proof}}</p>
        </div>
    </div>
</section>
{{end}}